.type-24 {
  background-image: url("../images/a1.jpg");
  background-size: cover;
}
.type-24 .adudu-ramid {
  color: white;
  text-align: center;
  font-weight: 1000;
  padding-top: 200px;
  padding-bottom: 200px;
}
.type-24 .h1,
.type-24 h1 {
  font-size: 62px;
}
