.type-12 {
  margin-top: 20px;
}
.type-12 .comment-title {
  margin-bottom: 30px;
}
.type-12 .comment-title h6 {
  font-weight: bold;
  font-size: 15px;
}
.type-12 .comment ul {
  list-style: none;
}
.type-12 .comment img {
  border-radius: 50%;
  margin-right: 25px;
}
.type-12 .comment .text {
  overflow: auto;
}
.type-12 .comment .text .name {
  display: inline-block;
}
.type-12 .comment .text .date {
  display: inline-block;
}
.type-12 .comment .text .action {
  float: right;
}
.type-12 .comment .text .action a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.type-12 .comment .text .text-holder {
  font-weight: bold;
}
