.type-1 {
    .top {
        position: relative;
        padding: 5px 0;
        a{
            text-decoration: none;
            color: #000;
        }
        a:hover{
            color: #e08686;
        }
        .contact{
            text-align: left;
        }
        .des{
            text-align: center;
        }
        .tandc{
            text-align: right;
        }
        
    }
    .top:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX( -50%);
        height: 100%;
        width: 100vw;
        background: #eeeeee;
    }

    .mid {

        margin-top: 20px;
        a{
            text-decoration: none;
            color: #000;
            padding: 0 5px;
        }
        a:hover{
            color: #e08686;
        }
        .english{        
            height: 100px;
            line-height: 100px;
            text-align: left;
            a{
                line-height: 1.5;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .logo{
            height: 100px;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
        .find{
            height: 100px;
            line-height: 100px;
            text-align: right;
            a{
                line-height: 1.5;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
    }
}


@media only screen and (max-width: 1000px) {
    .top .contact, .tandc {
        visibility: hidden;
    }
  }