.type-20 h2 {
  font-size: 20px;
}
.type-20 .list a {
  text-decoration: none;
  display: block;
  color: gray;
}
.type-20 .list a:hover {
  color: #e08686;
}
.type-20 .contact .fr-name {
  padding: 25px 10px;
}
.type-20 .contact .fr-email {
  padding: 25px 10px;
}
.type-20 .contact .btnContact {
  background: #000000;
  color: #ffffff;
  padding: 20px 70px;
  border: none;
}
.type-20 .contact .btnContact:hover {
  background: #1b1b1b;
}
