.type-7 a {
  text-decoration: none;
}
.type-7 .swiper-container {
  margin: 20px 0;
  width: 100%;
  height: 450px;
}
.type-7 .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-7 .col-md-8 {
  margin-top: 30px;
}
.type-7 .col-md-4 {
  margin-top: 30px;
}
.type-7 .text {
  position: absolute;
  bottom: 10px;
  padding-left: 10px;
}
.type-7 .text a {
  color: black;
  text-decoration: none;
  display: block;
}
.type-7 .depsition {
  margin-top: 10px;
}
.type-7 .depsition a {
  color: palevioletred;
}
.type-7 .depsition a p {
  color: #000000;
}
.type-7 .col-xs-5th-1,
.type-7 .col-xs-5th-2,
.type-7 .col-xs-5th-3,
.type-7 .col-xs-5th-4 {
  float: left;
}
.type-7 .col-xs-5th-5 {
  float: left;
  width: 100%;
}
.type-7 .col-xs-5th-4 {
  width: 80%;
}
.type-7 .col-xs-5th-3 {
  width: 60%;
}
.type-7 .col-xs-5th-2 {
  width: 40%;
}
.type-7 .col-xs-5th-1 {
  width: 20%;
}
.type-7 .col-xs-5th-pull-5 {
  right: 100%;
}
.type-7 .col-xs-5th-pull-4 {
  right: 80%;
}
.type-7 .col-xs-5th-pull-3 {
  right: 60%;
}
.type-7 .col-xs-5th-pull-2 {
  right: 40%;
}
.type-7 .col-xs-5th-pull-1 {
  right: 20%;
}
.type-7 .col-xs-5th-pull-0 {
  right: auto;
}
.type-7 .col-xs-5th-push-5 {
  left: 100%;
}
.type-7 .col-xs-5th-push-4 {
  left: 80%;
}
.type-7 .col-xs-5th-push-3 {
  left: 60%;
}
.type-7 .col-xs-5th-push-2 {
  left: 40%;
}
.type-7 .col-xs-5th-push-1 {
  left: 20%;
}
.type-7 .col-xs-5th-push-0 {
  left: auto;
}
.type-7 .col-xs-5th-offset-5 {
  margin-left: 100%;
}
.type-7 .col-xs-5th-offset-4 {
  margin-left: 80%;
}
.type-7 .col-xs-5th-offset-3 {
  margin-left: 60%;
}
.type-7 .col-xs-5th-offset-2 {
  margin-left: 40%;
}
.type-7 .col-xs-5th-offset-1 {
  margin-left: 20%;
}
.type-7 .col-xs-5th-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .type-7 .col-sm-5th-1,
  .type-7 .col-sm-5th-2,
  .type-7 .col-sm-5th-3,
  .type-7 .col-sm-5th-4 {
    float: left;
  }
  .type-7 .col-sm-5th-5 {
    float: left;
    width: 100%;
  }
  .type-7 .col-sm-5th-4 {
    width: 80%;
  }
  .type-7 .col-sm-5th-3 {
    width: 60%;
  }
  .type-7 .col-sm-5th-2 {
    width: 40%;
  }
  .type-7 .col-sm-5th-1 {
    width: 20%;
  }
  .type-7 .col-sm-5th-pull-5 {
    right: 100%;
  }
  .type-7 .col-sm-5th-pull-4 {
    right: 80%;
  }
  .type-7 .col-sm-5th-pull-3 {
    right: 60%;
  }
  .type-7 .col-sm-5th-pull-2 {
    right: 40%;
  }
  .type-7 .col-sm-5th-pull-1 {
    right: 20%;
  }
  .type-7 .col-sm-5th-pull-0 {
    right: auto;
  }
  .type-7 .col-sm-5th-push-5 {
    left: 100%;
  }
  .type-7 .col-sm-5th-push-4 {
    left: 80%;
  }
  .type-7 .col-sm-5th-push-3 {
    left: 60%;
  }
  .type-7 .col-sm-5th-push-2 {
    left: 40%;
  }
  .type-7 .col-sm-5th-push-1 {
    left: 20%;
  }
  .type-7 .col-sm-5th-push-0 {
    left: auto;
  }
  .type-7 .col-sm-5th-offset-5 {
    margin-left: 100%;
  }
  .type-7 .col-sm-5th-offset-4 {
    margin-left: 80%;
  }
  .type-7 .col-sm-5th-offset-3 {
    margin-left: 60%;
  }
  .type-7 .col-sm-5th-offset-2 {
    margin-left: 40%;
  }
  .type-7 .col-sm-5th-offset-1 {
    margin-left: 20%;
  }
  .type-7 .col-sm-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 980px) {
  .type-7 .col-md-5th-1,
  .type-7 .col-md-5th-2,
  .type-7 .col-md-5th-3,
  .type-7 .col-md-5th-4 {
    float: left;
  }
  .type-7 .col-md-5th-5 {
    float: left;
    width: 100%;
  }
  .type-7 .col-md-5th-4 {
    width: 80%;
  }
  .type-7 .col-md-5th-3 {
    width: 60%;
  }
  .type-7 .col-md-5th-2 {
    width: 40%;
  }
  .type-7 .col-md-5th-1 {
    width: 20%;
  }
  .type-7 .col-md-5th-pull-5 {
    right: 100%;
  }
  .type-7 .col-md-5th-pull-4 {
    right: 80%;
  }
  .type-7 .col-md-5th-pull-3 {
    right: 60%;
  }
  .type-7 .col-md-5th-pull-2 {
    right: 40%;
  }
  .type-7 .col-md-5th-pull-1 {
    right: 20%;
  }
  .type-7 .col-md-5th-pull-0 {
    right: auto;
  }
  .type-7 .col-md-5th-push-5 {
    left: 100%;
  }
  .type-7 .col-md-5th-push-4 {
    left: 80%;
  }
  .type-7 .col-md-5th-push-3 {
    left: 60%;
  }
  .type-7 .col-md-5th-push-2 {
    left: 40%;
  }
  .type-7 .col-md-5th-push-1 {
    left: 20%;
  }
  .type-7 .col-md-5th-push-0 {
    left: auto;
  }
  .type-7 .col-md-5th-offset-5 {
    margin-left: 100%;
  }
  .type-7 .col-md-5th-offset-4 {
    margin-left: 80%;
  }
  .type-7 .col-md-5th-offset-3 {
    margin-left: 60%;
  }
  .type-7 .col-md-5th-offset-2 {
    margin-left: 40%;
  }
  .type-7 .col-md-5th-offset-1 {
    margin-left: 20%;
  }
  .type-7 .col-md-5th-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .type-7 .col-lg-5th-1,
  .type-7 .col-lg-5th-2,
  .type-7 .col-lg-5th-3,
  .type-7 .col-lg-5th-4 {
    float: left;
  }
  .type-7 .col-lg-5th-5 {
    float: left;
    width: 100%;
  }
  .type-7 .col-lg-5th-4 {
    width: 80%;
  }
  .type-7 .col-lg-5th-3 {
    width: 60%;
  }
  .type-7 .col-lg-5th-2 {
    width: 40%;
  }
  .type-7 .col-lg-5th-1 {
    width: 20%;
  }
  .type-7 .col-lg-5th-pull-5 {
    right: 100%;
  }
  .type-7 .col-lg-5th-pull-4 {
    right: 80%;
  }
  .type-7 .col-lg-5th-pull-3 {
    right: 60%;
  }
  .type-7 .col-lg-5th-pull-2 {
    right: 40%;
  }
  .type-7 .col-lg-5th-pull-1 {
    right: 20%;
  }
  .type-7 .col-lg-5th-pull-0 {
    right: auto;
  }
  .type-7 .col-lg-5th-push-5 {
    left: 100%;
  }
  .type-7 .col-lg-5th-push-4 {
    left: 80%;
  }
  .type-7 .col-lg-5th-push-3 {
    left: 60%;
  }
  .type-7 .col-lg-5th-push-2 {
    left: 40%;
  }
  .type-7 .col-lg-5th-push-1 {
    left: 20%;
  }
  .type-7 .col-lg-5th-push-0 {
    left: auto;
  }
  .type-7 .col-lg-5th-offset-5 {
    margin-left: 100%;
  }
  .type-7 .col-lg-5th-offset-4 {
    margin-left: 80%;
  }
  .type-7 .col-lg-5th-offset-3 {
    margin-left: 60%;
  }
  .type-7 .col-lg-5th-offset-2 {
    margin-left: 40%;
  }
  .type-7 .col-lg-5th-offset-1 {
    margin-left: 20%;
  }
  .type-7 .col-lg-5th-offset-0 {
    margin-left: 0%;
  }
}
