.type-31 .title {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.type-31 .title span {
  color: #e08686;
  font-size: 30px;
}
.type-31 .share .twitter,
.type-31 .share .fb,
.type-31 .share .instagram {
  margin-top: 15px;
}
.type-31 .share span {
  color: #e08686;
  font-size: 20px;
  margin-right: 10px;
}
.type-31 .share a {
  text-decoration: none;
  color: gray;
}
.type-31 .share a:hover {
  color: #e08686;
}
.type-31 img {
  margin-top: 15px;
}
