@color-gray: #777777;
@color-white: #ffffff;
@background-gray: rgb(177, 168, 168);
.type-12 {
    margin-top: 20px;
    .comment-title{
        h6{
            font-weight: bold;
            font-size: 15px;         
        }
        margin-bottom: 30px;
    }
    .comment{
        
        ul {
            list-style: none;
            li{
                margin-top: 20px;
            }
        }

        .comments{position: relative;
            display: -ms-flexbox;
            display: flex;
            justify-content: left;
            flex-flow: row nowrap;
            width: 100%;
            margin-top: 10px;
            .avatar{
                margin-right: 20px;
                img{
                    border-radius: 100%;
                    width: 80px;
                    height: 80px;   
                }
            }
            .content{
                display: inline-block;
                p{
                    left: 0;
                }
                .text-holder{
                    font-weight: bold;
                }
            }
        }
        .action {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            color: #D26E4B;
            font-size:1.25em;
            a{
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
            }
        }
    }
}