@color-gray: #777777;
@color-white: #ffffff;
@background-gray: rgb(177, 168, 168);
.type-12 {
    margin-top: 20px;
    .comment{
        .image{
            img{
                border-radius: 50%;
            }
        }
    }

}