@color-gray: #777777;
@color-white: #ffffff;
@background-gray: rgb(177, 168, 168);
.type-12 {
    margin-top: 20px;
    .comment-title{
        h6{
            font-weight: bold;
            font-size: 15px;         
        }
        margin-bottom: 30px;
    }
    .comment{
        ul {
            list-style: none;
        
        }

            img{
                border-radius: 50%;
                margin-right: 25px;}

        .text{
            overflow: auto;
            .name{
                display: inline-block;
            }
            .date{
                display: inline-block;
            }
            .action{
                float: right;
                a{
                    color: #000;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            .text-holder{
                font-weight: bold;
            }
        }

    }

}