.type-3{
    margin-top: 20px;
    .pro{
        margin-top: 15px;
    }
    .card-product {
        border: none;
        position: relative;
        .img-wrap {
            height: unset;
            img{
                width:240px;
                height:292px;
            }
            .font-awe {
                list-style: none;
                position: absolute;
                right: 10px;
                top: 0;
            }   

            .hover-img {
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
            }
            .mnb{
                visibility: hidden;
            }
            &:hover .hover-img{
                visibility: unset;
                
            }
            &:hover .mnb{
                visibility: unset;
            }
        }
        .info-wrap {
            padding-left: 0;
            padding-bottom: 0;
            font-size: 17px;
            a{
                font-size: 13px;
                color: #000;
                text-decoration: none;
            }            
            .tag{
                color: #e08686;
                text-decoration: none;
            }
            .tag:hover{
                font-weight: 500;
                letter-spacing: .02em;
                color: #e08686;
                transition: .3s;
                opacity: 1;
            }
            .price {
             
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}