.type-3{
    margin-top: 20px;
    .pro{
        margin-top: 15px;
    }
    .card-product {
        border: none;
        position: relative;
        .img-wrap {
            img{
                width:240px;
                height:292px;
            }

            .hover-img {
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover .hover-img{
                visibility: unset;
                
            }
            .middle {
                z-index: 1;
                transition: .5s ease;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
            }
            .text {
                background-color: #e08686;
                color: #fff;
                font-size: 15px;
            }
        }
        .info-wrap {
            padding-left: 0;
            padding-bottom: 0;
            font-size: 17px;
            a{
                font-size: 13px;
                color: #000;
                text-decoration: none;
            }            
            .tag{
                color: #e08686;
                text-decoration: none;
            }
            .tag:hover{
                font-weight: 500;
                letter-spacing: .02em;
                color: #f7e7e7;
                opacity: 1;
            }
            .price {
             
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}