.type-5{
    background: #f7f7f7;
    text-align: center;
    .input{
        padding: 100px 0;
        ul {
            list-style: none;
            list-style-type: none;
            text-align: center;
            li{
                color: #000;
                display: inline-block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                margin-left: -5px;
            }
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #000;
                display: block;
                font-weight: 500;
            }
            a:hover {
                color: #e08686;
            }
        }
        .send{
            margin-bottom: 10px;
            button{
                background: #000;
                color: #fff;
                padding: 10px 45px;
                text-transform: uppercase;
            }
        }
    }
    

    .textwidget{
        background: #000;
        padding: 30px 0;
        color: #b1b2b2;
        text-align: center;
        a{
            color: #b1b2b2;
            text-decoration: none;
        }
        a:hover{
            color: #e08686;
        }
    }
}