.type-10 .adudu-header {
  text-align: center;
  font-weight: 1000;
}
.type-10 .adudu1 {
  color: tomato;
}
.type-10 .adudu-img {
  width: 100%;
  height: 720px;
}
.type-10 .adudu-img1 {
  width: 100%;
  height: 350px;
}
.type-10 .adudu-img2 {
  width: 100%;
  height: 350px;
}
.type-10 .adudu-cachlorem {
  text-align: center;
  margin: 30px;
  padding-top: 20px;
}
.type-10 .adudu-center {
  text-align: center;
}
.type-10 .adudu-follow {
  text-align: center;
  padding-top: 20px;
}
.type-10 .adudu-chua3anh {
  margin-bottom: 70px;
}
