
.type-10 {
    .adudu-header{
        text-align: center;
        font-weight: 1000;
    }
    .adudu1{
        color: tomato;
    }
    .adudu-img{
        width: 100%;
        height: 720px;
    }
    .adudu-img1{
        width: 100%;
        height: 350px;
    }
    .adudu-img2{
        width: 100%;
        height: 350px;
    }
    .adudu-cachlorem{
        text-align: center;
        margin: 30px;
        padding-top: 20px;
    }
    .adudu-center{
        text-align: center;
    }
    .adudu-follow{
        text-align: center;
        padding-top: 20px;
    }
    .adudu-chua3anh{
        margin-bottom: 70px;
    }
}